<%- include('./partials/head.ejs') %>


<!-- psuedo code data -->

<%
let datums = []
filterData.forEach(accomodation=> {
    accomodation.departureDates.forEach(departureDate => {
        if (!datums.includes(departureDate)){
            datums.push(departureDate)
        }
    })
})
%>




<h1>Beschikbaarheid Accommodaties</h1>

<!-- ðŸ” FORM: SEARCH AVAILABILITY (EMPTY STATE) -->

<div class="wrapper-form-availability">                     <!-- wraps everything form-related -->
    <form action="" method="get" class="form-availability"> <!-- use POST instead of GET?  -->
        <div class="wrapper-form-fields">                   <!-- wraps all search fields of form (NOT submit button) -->

            <div class="search-field" class="wrapper-ski-area">
                <label for="ski-area">Skigebied </label>
                <input list="ski-areas" id="ski-area" name="ski-area" placeholder="Bijv. Les Sibelles"/>
                <datalist id="ski-areas">
                    <option value="Les Sibelles"></option>
                    <option value="Skigebied 2"></option>
                    <option value="Skigebied 3"></option>
                </datalist>
            </div>

            <div class="search-field" class="wrapper-village">
                <label for="village">Dorp </label>
                <input list="villages" name="village" id="village"  placeholder="Bijv. St. Sorlin d'Arves" >
                <datalist id="villages"><!-- dorp uit API inladen -->
                        <option>St. Sorlin d'Arves</option> 
                        <option>St. Sorlin d'Arves</option> 
                        <option>St. Sorlin d'Arves</option> 
                </datalist>
            </div>

            <div class="search-field wrapper-accommodation">
                <label for="accommodation">Accommodatie </label>
                <input list="accommodations" name="accommodation" id="accommodation" placeholder="Bijv. L'Oree des Pistes" >
                <datalist id="accommodations"><!-- nog instellen elke acco maar 1x -->
                    <% filterData.forEach(accomodation=> { %>
                        <option value="<%= accomodation.complex_name %>"></option> 
                    <% }) %> 
                </datalist>
            </div>

            <div class="search-field" class="wrapper-nr-of-guests">
                <label for="number-of-guests">Aantal personen</label>
                <input list="guests" name="number-of-guests" id="number-of-guests" placeholder="Bijv. 4">
                <datalist id="guests">
                        <option>1</option> 
                        <option>2</option> 
                        <option>3</option>
                        <option>4</option> 
                        <option>5</option> 
                        <option>6</option> 
                        <option>7</option> 
                        <option>8</option> 
                        <option>9</option> 
                        <option>10</option> 
                        <option>11</option> 
                        <option>12</option>  
                        <option>13</option> 
                        <option>14</option> 
                        <option>15</option> 
                </datalist>
            </div>

            <div class="search-field wrapper-nr-of-bedrooms">
                <label for="number-of-bedrooms">Aantal slaapkamers </label>
                <input list="number-bedrooms" name="number-of-bedrooms" id="number-of-bedrooms" placeholder="Bijv. 2">
                <datalist id="number-bedrooms">
                    <% const uniqueBedrooms = new Set();
                        filterData.forEach(accommodation => {
                            uniqueBedrooms.add(accommodation.bedrooms);
                            })%>
                            <% Array.from(uniqueBedrooms).forEach(bedroom => {  %>
                    <option value="<%= bedroom %>"></option>
                    <% }) %>
                </datalist>
            </div>

            <div class="search-field wrapper-arrivaldate">
                <label for="arrivaldate">Aankomstdatum</label>
                <input list="arrivaldates" id="arrivaldate" name="arrivaldate" placeholder="Bijv. 25-11-2023"/>
                <datalist id="arrivaldates">
                    <% datums.forEach(datum=> { %>
                        <option value="<%= datum %>"></option> 
                    <% }) %>
                </datalist>
            </div>
        </div>

        <div class="wrapper-search-button">
            <input type="submit" value="Zoeken">
        </div>

    </form>
</div>

<!-- ðŸ“Š DISPLAY SEARCH RESULTS (IDEAL STATE) -->

<nav class="sort-results-table">
    <h2>Sorteer op:</h2>
    <a href="?sort=skigebied">Skigebied</a>
    <a href="?sort=dorp">Dorp</a>
    <a href="?sort=complex_name">Accommodatie</a>
    <a href="?sort=accomodatie_description">Kamertype</a>
    <a href="?sort=numberOfBeds">Max. aantal personen</a>
    <a href="?sort=bedrooms">Aantal slaapkamers</a>
</nav>

<div class="outer-wrapper-tables"> <!-- outer layer wraps all things table -->
    <div class="wrapper-tables"> <!--  wraps both tables -->

        <div class="outer-wrapper-table-left"><!-- outer layer wraps all things left table -->
            <div class="wrapper-table-left"><!--  wraps left table -->
                <table class="left-table"><!--  wraps left table content -->
                    <thead class="thead-left"><!-- head of table -->
                        <tr><!-- tr = table row --> 
                            <th class="left-th-item" id="left-th-skigebied">Skigebied</th>                     
                            <th class="left-th-item" id="left-th-dorp">Dorp</th>                       
                            <th class="left-th-item" id="left-th-accommodation">Accommodatie</th>                
                            <th class="left-th-item" id="left-th-roomtype">Kamertype</th>                    
                            <th class="left-th-item">Max. aantal personen</th>         
                            <th class="left-th-item">Aantal slaapkamers</th>           
                        </tr>
                    </thead>

                    <tbody class="tbody-left">
                        <% filterData.forEach(accomodation=> { %>
                            <tr>
                                <td class="left-td-item"><%= accomodation.skigebied %></td>                                           
                                <td class="left-td-item"><%= accomodation.dorp %></td>                                       
                                <td class="left-td-item"><%= accomodation.complex_name %></td>               
                                <td class="left-td-item"><%= accomodation.accomodatie_description %></td>    
                                <td class="left-td-item"><%= accomodation.numberOfBeds %></td>    
                                <td class="left-td-item"><%= accomodation.bedrooms %></td>             
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="outer-wrapper-table-right"><!-- outer layer wraps all things right table -->
            <div class="wrapper-table-right"><!--  wraps right table -->
                <table class="right-table"><!--  wraps right table content -->
                        <thead class="thead-right">
                            <tr> <!-- gets the departure dates from API -->
                                <% datums.forEach(datum=> { %>
                                    <th class="right-th-item"> <%- datum %></th> 
                                <% }); %>
                            </tr>
                        </thead>


                        <tbody>
                            <% filterData.forEach(accomodation=> { %>
                            <tr>
                                <% if (accomodation.departureDates.includes('25-11-2023')) { %>
                                <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                <td class="right-td-item" id="td-unavailable">0</td><% } %>

                                <% if (accomodation.departureDates.includes('02-12-2023')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %>

                                <% if (accomodation.departureDates.includes('09-12-2023')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('16-12-2023')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('23-12-2023')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('30-12-2023')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('06-01-2024')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('13-01-2024')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('20-01-2024')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('27-02-2024')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('03-02-2024')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('10-02-2024')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('17-02-2024')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('24-02-2024')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('02-03-2024')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('09-03-2024')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('16-03-2024')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %>
                                
                                <% if (accomodation.departureDates.includes('23-03-2024')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('30-03-2024')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('06-04-2024')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('13-04-2024')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('20-04-2024')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                                <% if (accomodation.departureDates.includes('27-04-2024')) { %>
                                    <td class="right-td-item" id="td-available"><%= accomodation.number %></td><% } else { %>
                                    <td class="right-td-item" id="td-unavailable">0</td><% } %> 

                            </tr>
                            <% }); %>
                        </tbody>
                </table>
            </div>
        </div>

    </div>
</div>



<!-- ASIDE: CHANGE SEARCH-->

<!-- LOADING STATE -->

<!-- ERROR STATE -->


<%- include('./partials/foot.ejs') %>





